# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build outputs
dist/
build/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
uploads
eslint.config.mjs

# Editors and IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
